@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.3125rem;
  line-height: 1.6;
  color: #222c2a;
}

img {
  max-width: 100%;
}

h1,
h2 {
  margin-top: 0;
  font-weight: 900;
  font-family: "Playfair Display", serif;
  line-height: 1.2;
}

.container {
  max-width: 1128px;
  margin: 0 auto;
}

.intro {
  min-height: 660px;
  background-color: #f3eed9;
  padding: 2em 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 3em 2em;
}

.intro-text {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  margin-bottom: 1em;
}

.intro-title {
  color: #824936;
  font-size: 3.75rem;
}

.quality-designs__title {
  color: #824936;
  margin-bottom: 1em;
  text-align: center;
}

.quality-designs__p1{
  margin-right: 2em ;
}

.made-custom {
  background-color: #222c2a;
  color: #fff;
}

.made-custom__title {
  margin-bottom: 1em;
}

.made-custom p{
  max-width: 80%;
}

.with-care {
  background-color: #824936;
  color: #fff;
}

/* .sunset-2{
  margin-right: 6em ;
} */

.with-care__title {
  margin-bottom: 1em;
}

.with-care p{
  max-width: 90%;
}

@media (min-width: 800px) {
  .row {
    display: flex;
  }

  .made-custom__content {
    display: flex;
  }

  .with-care__content {
    display: flex;
  }
}
